{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>
{% endblock %}
